body,
html {
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #777;
  font-weight: 400;
  width: 100% !important;
  height: 100% !important;
}
h2,
h3,
h4 {
  font-family: "Raleway", sans-serif;
}
h2 {
  text-transform: uppercase;
  margin: 0 0 20px;
  font-weight: 800;
  font-size: 36px;
  color: #333;
}
h3 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
h4 {
  font-size: 18px;
  color: #333;
  font-weight: 600;
}
h5 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
}
p {
  font-size: 15px;
}
p.intro {
  margin: 12px 0 0;
  line-height: 24px;
}
a {
  color: #608dfd;
  font-weight: 400;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #608dfd;
}
ul,
ol {
  list-style: none;
}
ul,
ol {
  padding: 0;
  webkit-padding: 0;
  moz-padding: 0;
}
hr {
  height: 2px;
  width: 70px;
  text-align: center;
  position: relative;
  background: #1e7a46;
  margin-bottom: 20px;
  border: 0;
}
.thumbnail .caption{
  padding: 10px 0;
  text-align: left;
}
/* Navigation */
#menu {
  padding: 5px;
  transition: all 0.8s;
}
#menu.navbar-default {
  background-color: #fff;
  border-color: rgba(231, 231, 231, 0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
#menu a.navbar-brand {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}
#menu.navbar-default .navbar-nav > li > a {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  color: #555;
  font-size: 15px;
  font-weight: 400;
  padding: 8px 2px;
  border-radius: 0;
  margin: 9px 10px 0;
}
#menu.navbar-default .navbar-nav > li > a:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 2px;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
  content: "";
  transition: width 0.2s;
}
#menu.navbar-default .navbar-nav > li > a:hover:after {
  width: 100%;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a:after,
.navbar-default .navbar-nav > .active > a:hover:after,
.navbar-default .navbar-nav > .active > a:focus:after {
  display: block !important;
  position: absolute !important;
  left: 0 !important;
  bottom: -1px !important;
  width: 100% !important;
  height: 2px !important;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%) !important;
  content: "" !important;
  transition: width 0.2s !important;
}
.navbar-toggle {
  border-radius: 0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #fff;
  border-color: #608dfd;
}
.navbar-default .navbar-toggle:hover > .icon-bar {
  background-color: #608dfd;
}
.section-title {
  margin-bottom: 30px;
}
.section-title h2 {
  position: relative;
  margin-top: 30px;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
.section-title h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}
.section-title p {
  font-size: 18px;
}
.btn-custom {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: #5ca9fb;
  background-image: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
  padding: 14px 34px;
  letter-spacing: 1px;
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  border-radius: 25px;
  transition: all 0.5s linear;
  border: 0;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom.focus,
.btn-custom:active,
.btn-custom.active {
  color: #fff;
  background-image: none;
  background-color: #6372ff;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline-offset: none;
}
/* Header Section */
.intro {
  display: table;
  width: 100%;
  padding: 0;
  background: url(../img/intro-bg.jpg) center center no-repeat;
  background-color: #e5e5e5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.intro .overlay {
  background: rgba(0, 0, 0, 0.2);
}
.intro h1 {
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 43px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
.intro h1 span {
  font-weight: 800;
  color: #5ca9fb;
}
.intro p {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
  margin: 0 auto;
  margin-bottom: 10px;
}
header .intro-text {
  padding-top: 160px;
  padding-bottom: 50px;
  text-align: center;
}
/* Lore Section */
#lore {
  background: #fff;
}
#lore i.fa {
  font-size: 38px;
  margin-bottom: 10px;
  transition: all 0.5s;
  color: #fff;
  width: 100px;
  height: 100px;
  padding: 30px 0;
  border-radius: 50%;
}
/* Testimonials Section */
#testimonials {
  padding: 10px 0;
}
#testimonials .testimonials-img {
  width: 350px;
}
#testimonials .thumbnail {
  background: transparent;
  border: 0;
}
#testimonials .thumbnail .caption {
  /* padding: 10px 0 0; */
  color: #888;
}
#testimonials {
  padding: 50px 0;
  background: linear-gradient(to right, #fff 0%, #fff 100%);
  color: #000000;
}
#testimonials .section-title h2::after {
  position: absolute;
  content: "";
  background: rgba(to right, #5ca9fb 0%, #6372ff 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}
#testimonials i.fa {
  font-size: 42px;
  width: 120px;
  height: 80px;
  padding: 40px 0;
  background: linear-gradient(to right, #fff 0%, #fff 100%);
  border-radius: 0%;
  color: #000000;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.05);
}
#testimonials p {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.75);
}
#testimonials .testimonials-desc {
  margin-bottom: 20px;
  padding:  10px 0;
}
/* Journey Section */
#journey h4 {
  margin: 5px 0;
}
#journey .journey-img {
  width: 350px;
}
#journey .thumbnail {
  background: transparent;
  border: 0;
}
#journey .thumbnail .caption {
  /* padding: 10px 0 0; */
  width: auto;
  margin: 0 auto;
  color: #888;
}
#journey {
  padding: 0px 0;
  background: linear-gradient(to right, #fff 0%, #fff 100%);
  color: #000000;
}
#journey h2 {
  color: #000000;
}
#journey .section-title h2::after {
  position: absolute;
  content: "";
  background: rgba(to right, #5ca9fb 0%, #6372ff 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}
#journey i.fa {
  font-size: 42px;
  width: 120px;
  height: 80px;
  padding: 40px 0;
  background: linear-gradient(to right, #fff 0%, #fff 100%);
  border-radius: 50%;
  color: #000000;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.05);
}
#journey h3 {
  font-weight: 500;
  padding: 1px 0;
  color: #000000;
}
#journey p {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.75);
}
#journey .journey-desc {
  margin-bottom: 20px;
  padding:  10px 0;
}
/* More Journey*/
#morejourney h4 {
  margin: 5px 0;
}
#morejourney .morejourney-img {
  width: 350px;
}
#morejourney .thumbnail {
  background: transparent;
  border: 0;
}
#morejourney .thumbnail .caption {
  /* padding: 10px 0 0; */
  width: auto;
  margin: 0 auto;
  color: #888;
}
#morejourney {
  padding: 0px 0;
  background: linear-gradient(to right, #fff 0%, #fff 100%);
  color: #000000;
}
#morejourney .service-desc {
  margin: 10px 10px 20px;
}
#morejourney h2 {
  color: #000000;
}
#morejourney h3 {
  font-weight: 500;
  padding: 1px 0;
  color: #000000;
}
#morejourney p {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.75);
}
#morejourney .journey-desc {
  margin-bottom: 20px;
  padding:  10px 0;
}
/* Portfolio Section */
#portfolio {
  padding: 50px 0;
}
.portfolio-items {
  width: 100%;
  /* height: 100%; */
  /* margin: auto; */
  display: grid;
  grid-auto-columns: auto;
  grid-gap: 2px 30px;
  align-self: flex-start;
}
.portfolio-items .portfolioItem{
  width: auto;
  height: auto;
  align-self: flex-start;
}
.gallery-img{
  max-height: 367px;
  max-width: 367px;
  align-self: flex-start;
}
.portfolio-item {
  margin: 1px -15px 0 -14px;
  padding: 0;
  }
.portfolio-item .hover-bg {
  overflow: hidden;
  position: relative;
  margin: 0;
}
.hover-bg .hover-text {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  color: #000000;
  background: linear-gradient(
    to right,
    rgba(99, 114, 255, 0.8) 0%,
    rgba(92, 169, 251, 0.8) 100%
  );
  padding: 30% 0 0;
  height: 100%;
  width: 100%;
  /* left: 25%; */
  opacity: 0;
  transition: all 0.5s;
}
.hover-bg .hover-text > h4 {
  opacity: 0;
  color: #000000;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition: all 0.3s;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
}
.hover-bg:hover .hover-text > h4 {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.hover-bg:hover .hover-text {
  opacity: 1;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
/* Team Section */
#team {
  padding: 10px 0;
  background: #f6f6f6;
}
#team h4 {
  margin: 5px 0;
}
#team .team-img {
  width: 250px;
}
#team .thumbnail {
  background: transparent;
  border: 0;
}
#team .thumbnail .caption {
  /* padding: 10px 0 0; */
  text-align: center;
  color: #888;
}
/* Contact Section */
#contact {
  padding: 5px 0;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
}
#contact h2 {
  color: #fff;
}
#contact h4 {
  margin: 5px 0;
}
.contactContainer{
  display: flex;
  justify-content: center;
}
.contactContainer .contact{
  padding: 0 10px;
}
#contact .contact-img {
  width: 35px;
}
#contact .thumbnail {
  background: transparent;
  border: 0;
}
/* Footer Section*/
#footer {
  background: #f6f6f6;
  padding: 10px 0;
}
#footer p {
  color: #888;
  font-size: 14px;
}
#footer a {
  color: #608dfd;
}
#footer a:hover {
  border-bottom: 2px solid #608dfd;
}

@media (max-width: 768px) {
  #about img {
    margin: 50px 0;
  }
}

.counter {
  width: 95%;
  margin: auto;
  border-radius: 5px;
  color: #090909;
  padding: 20px;
  text-align: center;
  /* background: red; */
  z-index: 999999 !important;
}
.counter h1 {
  margin: 0;
  padding: 20px;
  font-size: 36px;
}
.counter button {
  background: #2e6da4;
  border: 0;
  box-shadow: 0px 5px 0px gray;
  margin: 10px 5px 0 5px;
  padding: 3px;
  width: 22%;
  display:inline-block;
  outline: none;
  border-radius: 3px;
  color: white;
}
.counter button svg{
  width: 30px;
  height: 30px;
}

.bg-red {
  background-color: red;
}

.bg-blue {
  background-color: blue;
}

@keyframes growAnimation {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(1);
  }
}

.text {
  color: black;
  letter-spacing: 1.4px;
  font-size: 1.4rem;
  margin-bottom: 0.5rem !important;
}
#mint .section-title{
  z-index: 1;
}

.buttonConnectWallet {
  line-height: 12px;
  width: 18px;
  font-size: 8pt;
  font-family: tahoma;
  margin-top: 111px;
  margin-right: -112px;
  position:absolute;
  top:0;
  right:0;
}
.pic{
  width:100%;
  /* height:100%;  */
  margin: auto;
  /* background: rgb(196,228,253); */
background: linear-gradient(to bottom, rgba(196,228,253,1) 0%, rgba(251,253,248,1) 63%, rgba(251,253,248,1) 63%, rgba(148,190,89,1) 100%);
}
.sky{
  width:100%;
  /* height:63%; */
  /* overflow:hidden; */
  /* background:linear-gradient(#c4e4fd,#fbfdf8); */
}
.ground{
  width:100%;
  /* height:37%; */
  /* background:linear-gradient(#fbfdf8, #94be59); */
  z-index: -999;
}
.cloud{
  position:relative;
  width:10vw;height:10vw;
  background-color:#fff;
  border-radius:50%;
}
.cloud::before{
  position:absolute;
  content:"";
  width:162%;
  height:56%;
  border-radius:50%;
  background-color: #fff;
  left:-52%;
  top:37%;
}
.cloud::after{
  position:absolute;
  content:"";
  width:60%;
  height:80%;
  border-radius:50%;
  background-color: #fff;
  left:-26%;
  top:22%;
  transform:rotate(-45deg);
}
.no1{
  left:110%;
  top:0%;
  animation:cloud-move 18s linear 5s infinite;
  -webkit-animation: cloud-move 18s linear 5s infinite;
  -moz-animation: cloud-move 18s linear 5s infinite;
}

@keyframes cloud-move{
  from{
    left:110%
  }
  to{
    left:-50%
  }
}
.rabbit-box{
  position: relative;
  bottom: 0px;
  width:20vw;
  height:20vw;
}
@keyframes bounce {
  0%   { transform: scale(1,1)    translateY(0); }
  10%  { transform: scale(1.1,.9) translateY(0); }
  30%  { transform: scale(.9,1.1) translateY(-100px); }
  50%  { transform: scale(1,1)    translateY(0); }
  57%  { transform: scale(1,1)    translateY(-7px); }
  64%  { transform: scale(1,1)    translateY(0); }
  100% { transform: scale(1,1)    translateY(0); }
}
.rabbit{
  width:100%;
  height:100%;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  animation-iteration-count: infinite;
  z-index: 99999;
}

